$theme1-main-bg: hsl(222, 26%, 31%);
$theme1-keypad-bg: hsl(223, 31%, 20%);
$theme1-screen-bg: hsl(224, 36%, 15%);

$theme1-key-bg: hsl(225, 21%, 49%);
$theme1-keyShadow-bg: hsl(224, 28%, 35%);
$theme1-redKey-bg: hsl(6, 63%, 50%);
$theme1-redKeyShadow-bg: hsl(6, 70%, 34%);
$theme1-grayKey-bg: hsl(30, 25%, 89%);
$theme1-grayKeyShadow-bg: hsl(28, 16%, 65%);


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $theme1-main-bg;
    color: white;
    font-family: sans-serif;
}

.wrapper {
    max-width: 270px;
    margin: 2rem auto;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: self-end;

    h3 {
        font-size: 30px;
        font-weight: 400;
    }
}

.themeWrapper {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    align-items: self-end;
    text-transform: uppercase;
    height: 40px;

    label, input {
        cursor: pointer;
    }

    p {
        letter-spacing: 1px;
    }

    .theme {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-width: 80px;
        min-height: 1rem;
        gap: .3rem;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        justify-items: center;
        position: relative;
        margin-top: -3px;
        align-self: stretch;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1.3rem;
            bottom: -1.3px;
            left: 0;
            right: 0;
            background-color: $theme1-keypad-bg;
            z-index: -1;
            border-radius: 10px;
            padding: 5px;
            
        }
    }
}

.screen {
    margin-top: 1rem;
    background-color: $theme1-screen-bg;
    min-height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 25px;
    padding-right: 1rem;
    font-weight: 700;
}

.calculator {
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: $theme1-keypad-bg;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(30px, 5);
    gap: 10px;
}

.addOns {
    display: none;
}

.btn {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

    &.white {
        background-color: $theme1-grayKey-bg;
        color: $theme1-keypad-bg;
        font-weight: bold;
        box-shadow: inset 0px -4px $theme1-grayKeyShadow-bg;
        font-weight: 700;
    }
    
    &.reset {
        grid-column: 1 / 3;
    }
    &.equalTo {
        background-color: $theme1-redKey-bg;
        box-shadow: inset 0px -4px $theme1-redKeyShadow-bg;
        grid-column: 3 / -1;
        font-weight: 700;
    }

    &.del {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 300;
        padding: 0.5rem;
    }

    &.accent {
        text-transform: uppercase;
        background-color: $theme1-key-bg;
        box-shadow: inset 0px -4px $theme1-keyShadow-bg;
    }
    
}

