:root {
  --theme-main-bg: hsl(222, 26%, 31%);
  --theme-keypad-bg: hsl(223, 31%, 20%);
  --theme-screen-bg: hsl(224, 36%, 15%);
  --theme-key-bg: hsl(225, 21%, 49%);
  --theme-keyShadow-bg: hsl(224, 28%, 35%);
  --theme-altKey-bg: hsl(6, 63%, 50%);
  --theme-alsKeyShadow-bg: hsl(6, 70%, 34%);
  --theme-accentKey-bg: hsl(30, 25%, 89%);
  --theme-accentKeyShadow-bg: hsl(28, 16%, 65%);
  --theme-text1: hsl(221, 14%, 31%);
  --theme-text2: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--theme-main-bg);
  font-family: sans-serif;
  color: var(--theme-text2);
}

.wrapper {
  max-width: 270px;
  margin: 2rem auto;
  position: relative;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}

header h3 {
  font-size: 30px;
  font-weight: 400;
}

.themeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1.5rem;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  text-transform: uppercase;
  height: 40px;
}

.themeWrapper label, .themeWrapper input {
  cursor: pointer;
}

.themeWrapper p {
  letter-spacing: 1px;
}

.themeWrapper .theme {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  min-width: 80px;
  min-height: 1rem;
  gap: .3rem;
  position: relative;
  margin-top: -3px;
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

.themeWrapper .theme::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.3rem;
  bottom: -1.3px;
  left: 0;
  right: 0;
  background-color: var(--theme-keypad-bg);
  z-index: -1;
  border-radius: 10px;
  padding: 5px;
}

.themeWrapper .theme input {
  display: none;
}

.themeWrapper .theme label {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-content: center;
}

.themeWrapper .theme label div {
  -ms-grid-row: 2;
  grid-row: 2;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 7px;
}

.theme1 input:checked + div {
  background-color: var(--theme-altKey-bg);
}

.theme2 input:checked + div {
  background-color: var(--theme-altKey-bg);
}

.theme3 input:checked + div {
  background-color: var(--theme-altKey-bg);
}

.screen {
  background-color: var(--theme-screen-bg);
  min-height: 75px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding-right: 1rem;
  font-weight: 700;
}

.calculator {
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--theme-keypad-bg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (5)[30px];
      grid-template-rows: repeat(30px, 5);
  gap: 10px;
}

.addOns {
  margin: 0.5rem 0;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  -webkit-box-shadow: -1px -3px 10px -7px;
          box-shadow: -1px -3px 10px -7px;
  border-radius: 5px;
}

.historyPage {
  text-align: end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 30vh;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: var(--theme-screen-bg);
  padding: 1rem .5rem;
  max-width: 323px;
  margin: auto;
  display: none;
  border-radius: 0px 0 10px 10px;
}

.historyPage.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.historyPage span {
  display: block;
  font-size: 28px;
  margin-bottom: 1rem;
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: ease-in-out 50ms forwards;
  transition: ease-in-out 50ms forwards;
}

.btn.num, .btn.op {
  background-color: var(--theme-accentKey-bg);
  color: var(--theme-text1);
  font-weight: bold;
  -webkit-box-shadow: inset 0px -4px var(--theme-accentKeyShadow-bg);
          box-shadow: inset 0px -4px var(--theme-accentKeyShadow-bg);
  font-weight: 700;
}

.btn.num.press, .btn.op.press {
  -webkit-box-shadow: inset 0px -1px var(--theme-accentKeyShadow-bg);
          box-shadow: inset 0px -1px var(--theme-accentKeyShadow-bg);
}

.btn.reset {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.btn.equalTo {
  background-color: var(--theme-altKey-bg);
  -webkit-box-shadow: inset 0px -1px var(--theme-alsKeyShadow-bg);
          box-shadow: inset 0px -1px var(--theme-alsKeyShadow-bg);
  grid-column: 3 / -1;
  font-weight: 700;
}

.btn.equalTo.press {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 300;
  padding: 0.5rem;
}

.btn.accent {
  text-transform: uppercase;
  background-color: var(--theme-key-bg);
  -webkit-box-shadow: inset 0px -4px var(--theme-keyShadow-bg);
          box-shadow: inset 0px -4px var(--theme-keyShadow-bg);
}

.btn.accent.press {
  -webkit-box-shadow: inset 0px -1px var(--theme-keyShadow-bg);
          box-shadow: inset 0px -1px var(--theme-keyShadow-bg);
}

.theme2 {
  --theme-main-bg: hsl(0, 0%, 90%);
  --theme-keypad-bg: hsl(0, 5%, 81%);
  --theme-screen-bg: hsl(0, 0%, 93%);
  --theme-key-bg: hsl(185, 42%, 37%);
  --theme-keyShadow-bg: hsl(185, 58%, 25%);
  --theme-altKey-bg: hsl(25, 98%, 40%);
  --theme-alsKeyShadow-bg: hsl(25, 99%, 27%);
  --theme-accentKey-bg: hsl(45, 7%, 89%);
  --theme-accentKeyShadow-bg: hsl(35, 11%, 61%);
  --theme-text1: hsl(60, 10%, 19%);
  --theme-text2: hsl(0, 0%, 100%);
  color: var(--theme-text1);
}

.theme2 .del, .theme2 .reset, .theme2 .equalTo {
  color: var(--theme-text2);
}

.theme3 {
  --theme-main-bg: hsl(268, 75%, 9%);
  --theme-keypad-bg: hsl(268, 71%, 12%);
  --theme-screen-bg: var(--theme-keypad-bg);
  --theme-key-bg: hsl(281, 89%, 26%);
  --theme-keyShadow-bg: hsl(285, 91%, 52%);
  --theme-altKey-bg: hsl(176, 100%, 44%);
  --theme-alsKeyShadow-bg: hsl(177, 92%, 70%);
  --theme-accentKey-bg: hsl(268, 47%, 21%);
  --theme-accentKeyShadow-bg: hsl(290, 70%, 36%);
  --theme-text1: hsl(52, 100%, 62%);
  --theme-text2: hsl(0, 0%, 100%);
  --theme-text3: hsl(198, 20%, 13%);
}

body.theme3 {
  color: var(--theme-text1);
}

body.theme3 .screen {
  background-color: var(--theme-keypad-bg);
}

body.theme3 .del, body.theme3 .reset {
  color: var(--theme-text2);
}

body.theme3 .equalTo {
  color: var(--theme-text3);
}

body.theme3 svg path {
  fill: var(--theme-text1);
}

@media (min-width: 980px) {
  .historyPage {
    right: -600px;
    border-radius: 0px 0px 0px 10px;
  }
}
/*# sourceMappingURL=style.css.map */