*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3a4764;
  color: white;
  font-family: sans-serif;
}

.wrapper {
  max-width: 270px;
  margin: 2rem auto;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}

header h3 {
  font-size: 30px;
  font-weight: 400;
}

.themeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1.5rem;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  text-transform: uppercase;
  height: 40px;
}

.themeWrapper label, .themeWrapper input {
  cursor: pointer;
}

.themeWrapper p {
  letter-spacing: 1px;
}

.themeWrapper .theme {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  min-width: 80px;
  min-height: 1rem;
  gap: .3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  margin-top: -3px;
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

.themeWrapper .theme::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.3rem;
  bottom: -1.3px;
  left: 0;
  right: 0;
  background-color: #232c43;
  z-index: -1;
  border-radius: 10px;
  padding: 5px;
}

.screen {
  margin-top: 1rem;
  background-color: #182034;
  min-height: 75px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding-right: 1rem;
  font-weight: 700;
}

.calculator {
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #232c43;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (5)[30px];
      grid-template-rows: repeat(30px, 5);
  gap: 10px;
}

.addOns {
  display: none;
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn.white {
  background-color: #eae3dc;
  color: #232c43;
  font-weight: bold;
  -webkit-box-shadow: inset 0px -4px #b4a597;
          box-shadow: inset 0px -4px #b4a597;
  font-weight: 700;
}

.btn.reset {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.btn.equalTo {
  background-color: #d03f2f;
  -webkit-box-shadow: inset 0px -4px #93261a;
          box-shadow: inset 0px -4px #93261a;
  grid-column: 3 / -1;
  font-weight: 700;
}

.btn.del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 300;
  padding: 0.5rem;
}

.btn.accent {
  text-transform: uppercase;
  background-color: #637097;
  -webkit-box-shadow: inset 0px -4px #404e72;
          box-shadow: inset 0px -4px #404e72;
}
/*# sourceMappingURL=style.css.map */