:root {
    --theme-main-bg: hsl(222, 26%, 31%);
    --theme-keypad-bg: hsl(223, 31%, 20%);
    --theme-screen-bg: hsl(224, 36%, 15%);
    --theme-key-bg: hsl(225, 21%, 49%);
    --theme-keyShadow-bg: hsl(224, 28%, 35%);
    --theme-altKey-bg: hsl(6, 63%, 50%);
    --theme-alsKeyShadow-bg: hsl(6, 70%, 34%);
    --theme-accentKey-bg: hsl(30, 25%, 89%);
    --theme-accentKeyShadow-bg: hsl(28, 16%, 65%);
    --theme-text1: hsl(221, 14%, 31%);
    --theme-text2: hsl(0, 0%, 100%);
    --theme-history: var(--theme-screen-bg);
}



*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--theme-main-bg);
    font-family: sans-serif;
    color: var(--theme-text2);
}

.wrapper {
    max-width: 270px;
    margin: 2rem auto;
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: self-end;

    h3 {
        font-size: 30px;
        font-weight: 400;
    }
}

.themeWrapper {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    align-items: self-end;
    text-transform: uppercase;
    height: 40px;

    label, input {
        cursor: pointer;
    }

    p {
        letter-spacing: 1px;
    }

    .theme {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-width: 80px;
        min-height: 1rem;
        gap: .3rem;
        // justify-content: space-between;
        // text-align: center;
        // align-items: center;
        // justify-items: center;
        position: relative;
        margin-top: -3px;
        align-self: stretch;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1.3rem;
            bottom: -1.3px;
            left: 0;
            right: 0;
            background-color: var(--theme-keypad-bg);
            z-index: -1;
            border-radius: 10px;
            padding: 5px;
            
        }

        input {
            display: none;
        }
        label {
            position: relative;
            display: grid;
            grid-template-rows: 1fr 1fr;
            place-content: center;

            div {
                grid-row: 2;
                height: 10px;
                width: 10px;
                border-radius: 50%; 
                margin-top: 7px;
            }
        }
    }
}

.theme1 input:checked + div {
    background-color: var(--theme-altKey-bg);
}
.theme2 input:checked + div {
    background-color: var(--theme-altKey-bg);
}
.theme3 input:checked + div {
    background-color: var(--theme-altKey-bg);
}


.screen {
    // margin-top: 1rem;
    background-color: var(--theme-screen-bg);
    min-height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 25px;
    padding-right: 1rem;
    font-weight: 700;
}

.calculator {
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--theme-keypad-bg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(30px, 5);
    gap: 10px;
}

.addOns {
    margin: 0.5rem 0;
    margin-left: auto;
    width: fit-content;
    padding: 5px;
    box-shadow: -1px -3px 10px -7px;
    border-radius: 5px;
}

.historyPage {
    
    text-align: end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 30vh;
    overflow-y: scroll;
    flex-direction: column-reverse;
    background-color: var(--theme-screen-bg); 
    padding: 1rem .5rem;
    max-width: 323px;
    margin: auto;
    display: none;
    border-radius: 0px 0 10px 10px;

    &.show {
        display: flex;
    }

    span {
        display: block;
        font-size: 28px;
        margin-bottom: 1rem;
    }

}

.btn {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: ease-in-out 50ms forwards;

    &.num, &.op {
        background-color: var(--theme-accentKey-bg);
        color: var(--theme-text1);
        font-weight: bold;
        box-shadow: inset 0px -4px var(--theme-accentKeyShadow-bg);
        font-weight: 700;
        &.press {
            box-shadow: inset 0px -1px var(--theme-accentKeyShadow-bg);
        }
    }
    
    &.reset {
        grid-column: 1 / 3;
    }
    &.equalTo {
        background-color: var(--theme-altKey-bg);
        box-shadow: inset 0px -1px var(--theme-alsKeyShadow-bg);
        grid-column: 3 / -1;
        font-weight: 700;
        &.press {
            box-shadow: none;
        }
    }

    &.del {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 300;
        padding: 0.5rem;
    }

    &.accent {
        text-transform: uppercase;
        background-color: var(--theme-key-bg);
        box-shadow: inset 0px -4px var(--theme-keyShadow-bg);
        &.press {
            box-shadow: inset 0px -1px var(--theme-keyShadow-bg);
        }
    }

    
    
}


.theme2 {
    --theme-main-bg: hsl(0, 0%, 90%);
    --theme-keypad-bg: hsl(0, 5%, 81%);
    --theme-screen-bg: hsl(0, 0%, 93%);
    --theme-key-bg: hsl(185, 42%, 37%);
    --theme-keyShadow-bg: hsl(185, 58%, 25%);
    --theme-altKey-bg: hsl(25, 98%, 40%);
    --theme-alsKeyShadow-bg: hsl(25, 99%, 27%);
    --theme-accentKey-bg: hsl(45, 7%, 89%);
    --theme-accentKeyShadow-bg: hsl(35, 11%, 61%);
    --theme-text1: hsl(60, 10%, 19%);
    --theme-text2: hsl(0, 0%, 100%);

    color: var(--theme-text1);

    .del, .reset, .equalTo {
        color: var(--theme-text2)
    }
}

.theme3 {
    --theme-main-bg: hsl(268, 75%, 9%);
    --theme-keypad-bg: hsl(268, 71%, 12%);
    --theme-screen-bg: var(--theme-keypad-bg);
    --theme-key-bg: hsl(281, 89%, 26%);
    --theme-keyShadow-bg: hsl(285, 91%, 52%);
    --theme-altKey-bg: hsl(176, 100%, 44%);
    --theme-alsKeyShadow-bg: hsl(177, 92%, 70%);
    --theme-accentKey-bg: hsl(268, 47%, 21%);
    --theme-accentKeyShadow-bg: hsl(290, 70%, 36%);
    --theme-text1: hsl(52, 100%, 62%);
    --theme-text2: hsl(0, 0%, 100%);
    --theme-text3: hsl(198, 20%, 13%);

}

body.theme3 {
    color: var(--theme-text1);

    .screen {
        background-color: var(--theme-keypad-bg);
    }

    .del, .reset {
        color: var(--theme-text2)
    }

    .equalTo {
        color: var(--theme-text3);
    }

    svg path {
        fill: var(--theme-text1);
    }

}

@media (min-width: 980px) {
    .historyPage {
        right: -600px;
        border-radius: 0px 0px 0px 10px;
    }
}
